
<%= button_to 'Create New Author', new_author_path, method: :get %>

<hr>
<h4> Displaying List of Authors </h4>
<hr>

<% @authors.each do |author| %>
		

<a data-method="get" href= '<%= show_author_path(id: author.id) %>' class="btn btn-info btn-small"><i class="icon-white icon-envelope"></i> <%= author.author_name.upcase %> </a>

<a data-method="get" href= <%= edit_author_path(id: author.id) %> class="btn btn-warning btn-small"><i class="icon-white icon-envelope"></i> EDIT</a>

<a data-method="delete" href= <%= delete_author_path(id: author.id) %> class="btn btn-danger btn-small"><i class="icon-white icon-heart"></i> DELETE </a>
	
	<br> <br>
<% end %>