

<%= form_tag(authors_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search authors here" %>
<%= submit_tag "Search", :name => nil %>
<% end %>


<%= link_to 'Create New Author', new_author_path  %>

<hr>
<h4> Displaying List of Authors </h4>
<hr>

<% @authors.each do |author| %>
		

<%= link_to author.author_name.upcase, author_path(id: author.id) %>

<%= link_to "EDIT", edit_author_path(id: author.id) %>

<%= link_to "DELETE", author_path(id: author.id), method: :delete %>
	
	<br> <br>
<% end %>