<h3> Displaying List of Authors </h3>

<hr>

<% @authors.each do |author| %>
	<< <%= link_to author.author_name.upcase, "/authors/show/#{author.id}" %> >>
	<%= link_to "EDIT", "/authors/edit/#{author.id}", method: :get %> |	
	<%= link_to "SHOW", "/authors/show/#{author.id}", method: :get %> |
	<%= link_to "DELETE", "/authors/delete/#{author.id}", method: :get %> 	
	<br>
<% end %>
<hr>

<%= button_to "Create New Author", "/authors/new", method: :get %>