
Author Name: <%= @author.author_name.upcase %> <br><br>

<%= link_to "Create New Book", new_book_for_author_path(id: @author.id) %>

<%= link_to "Go Back to Main Page", authors_path %>

 
<hr>
<h4> Displaying list of Books </h4>
<hr>
<% @author.books.each do |a| %>
	--> <%= a.book_name.upcase %> 

	<%= link_to "EDIT", edit_book_path(id: a.id) %>
	<%= link_to "DELETE", book_path(id: a.id), method: :delete %>

	<br>
<% end %>


