
Author Name: <%= @author.author_name.upcase %> <br><br>



<%= link_to "< Create New Book >", "/books/new/#{@author.id}" %> |  
 <%= link_to "< Go Back to Main Page >", "/authors/index" %> 

<hr>
<h3> Displaying list of Books</h3>
<hr>
<% @author.books.each do |a| %>
	--> <%= a.book_name.upcase %> |
		<%= link_to "< EDIT >", "/books/edit/#{a.id}" %> | 
		<%= link_to "< DELETE >", "/books/delete/#{a.id}" %>  
	<br>
<% end %>


